doctype html
html
   head
      title = "Hello Pug"
   body
     include ./header.pug
     h1 Estas en la #{section}
     p.greetings#people Mi primera plantilla! 
     p #{msj}
     include ./footer.pug